<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta name="Description" content="Best url shortener service in the world!">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/">
                <h1 class="title is-2 has-text-weight-bold">Planck</h1>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#unless user}}
                        <a class="button is-primary" href="/register">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/login">
                            Log in
                        </a>
                        {{else}}
                        <a class="button is-primary" href="/analytics">
                            <strong>Analytics</strong>
                        </a>
                        <a class="button is-light" href="/logout">
                            Logout
                        </a>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>



    <footer>
        <div class="content has-text-centered">
            <p class="is-size-7-mobile is-size-6-desktop">
                <strong>Planck</strong> by <a href="https://github.com/tbvescio">Tomas Benitez Vescio</a>. The source
                code is licensed
                <a href="https://choosealicense.com/licenses/gpl-3.0/#">GNU GPLv3</a>.
            </p>
        </div>
    </footer>

    <style>
        @media only screen and (max-width: 768px) {
            nav {
                margin: 1em 2em;
            }

            form {
                margin: 0 1em;
            }
        }

        @media only screen and (min-width: 768px) {
            nav {
                margin: 2em 13em;
            }
        }

        footer {
            width: 100%;
            position: absolute;
            bottom: 1em;
            text-align: center;
            overflow: hidden;
        }

        body {
            {{!-- margin-bottom: 5em; --}}
            min-height: 100vh;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>

</body>

</html>