<main>
    <div class="has-text-centered" style="margin-top: 10em">
        <h1 class="has-text-danger has-text-weight-bold" style="font-size: 5em">Oops!</h1>
        <h1 class="subtitle is-5">An error ocurred!</h1>
    </div>
</main>