.item-container{
    margin-top: 5%;
}
.item-container h1{
    margin-left: 15%;
}
.item{
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    margin-bottom: 15px;
    word-spacing: 2em;
    width: 70%;
    margin-left: 15%;
    
}
.item a{
    text-decoration: none;
    color: white;
}

.item a:hover{
    color: #BB86FC;
}